#container *{
	padding: 0px; margin:0px;
}
#container{
	margin-left: auto; margin-right: auto; width: 35%; background-color: #F0F0F0;
}
header{
	background-color: #4267b2; text-align: center; color:white; padding: 10px;
}
header h1{padding: 10px;}
#header-text{
	display: grid;  padding:10px; grid-template-rows:1; grid-template-columns: 15% 85%;
background-color: #fffdd0; }
#header-text p{ color:#1569c7;padding:10px; }
form{
	text-align: center; 
}
#form-input{
	padding-top:1em; padding-bottom:1em; 

}
#form-input input{
	width:80%; padding:10px; border-radius: 4px;"
}

#log_in input{
	background-color:#ADD8E6; color:white; border-color: #1569c7;
}
#Horizontal{
	display: grid; 
	grid-template-rows: 1;
	 grid-template-columns: 45% 10% 45%; 
	 padding-bottom:15px;
}
button{
	background-color:#00a600; color: white; border-color: #00a600;
    margin-bottom: 1em; 
	 width:40%; height: 40px;
     border-radius: 4px; "

}

#pass a{
	text-decoration: none; 
	font-family: sans-serif; font-size: 15px; 
	text-align: center; color:#1569c7;
}
aside{
	text-align: center; margin-right:80px;
}
footer{
	text-align: center;
}
ul li{list-style: none;}
aside ul li a{text-decoration:none; color:#1569c7;}
footer ul li a{text-decoration:none; color:#1569c7;}
#container2*{padding:0px; margin:0px;}
#container2{margin-left: auto; margin-right: auto; font-family:sans-serif; font-size:13px;
width:35%; background-color: #fffafa; 
display: grid; grid-template-rows: 2; 
grid-template-columns: 50% 50%; }
#container3{
	margin-left: auto; margin-right: auto; width: 35%;
background-color: #f0f0f0; display: grid; grid-template-columns: 1; grid-template-rows: 1;
}
#container3, p a{
	text-align: center; font-family: serif; font-style:bold; color:gray;
}